*{
    margin: 0px;
    padding: 0px;
}
.message-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
     height: 100vh;
     width: 100vw;
     justify-content: center;
     align-items: center;
    
}
.hide{
    display: none;
}
body{
    background-color: #f2e8cf;
}

#title
{
    height: 50px;
    align-self: center;
    color: #386641;
    font-size: 30px;
}
.main{
    display:flex;
    flex-direction: column;
     /* background-color:bisque; */
     height: 70vh;
     width: 100vw;
   
    justify-content: center;
    align-items: center;
}
.container{
    
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:5px;
   justify-content: center;
   align-self: center;
 
 margin-bottom: 20px;
    
}
#message{
    /* display: none; */
    height:20px;
    color: #386641;
    text-align: center;
    /* border:2px solid blueviolet; */
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn {
      height: 100px;
      width: 100px;
      background-color: #a7c957;
      border-radius: 10px;
     color: #bc4749;
     font-size: 70px;
     
    }
    #newBtn{
        height: 50px;
        width: 100px;
        background-color: #386641;
        color:#EEE2DF;
        align-self: center;
        border-radius: 10px;
        margin-bottom: 50px;
        /* display: none; */
    }
     #resetBtn{
        height: 50px;
        width: 100px;
        background-color: #386641;
        color: #EEE2DF;
        align-self: center;
        border-radius: 10px;
        
    }
    .footer
    {
    display: flex;
    flex-direction: column;
   
     
     justify-content: center;
     align-items: center;
    }